:root {
  --color: #24baab;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

/* -------------------------------- */
/* page header */
/* -------------------------------- */

.page-header {
  background: black;
}

.page-logo {
  float: left;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.page-logo a {
  color: #fff;
  text-decoration: none;
}

.page-logo a span {
  color: var(--color);
  font-weight: 700;
  line-height: 40px;
}

.page-nav {
  float: right;
}

.page-nav li {
  display: inline-block;
  position: relative;
}

.page-nav a {
  line-height: 40px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 25px;
}

.page-nav a:hover {
  color: var(--color);
}

.page-nav-sub {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translate(-50%, 0);
  width: 130px;
  background: black;

  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}

.page-nav li:hover .page-nav-sub {
  visibility: visible;
  opacity: 1;
}

.page-nav-sub::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  width: 0;
  height: 0;
  transform: translate(-50%, 0);
  border: 10px solid transparent;
  border-bottom-color: black;
}

.page-nav-sub::after {
  content: "";
  width: 100%;
  height: 20px;
  background: transparent;
  position: absolute;
  top: -20px;
  left: 0;
}
.page-nav-sub li {
  display: block;
}

.page-nav-sub a {
  display: block;
  text-transform: none;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  text-align: center;
}
